$accent 			:	#DDB142;
$theme-color 		:	#08174A;
$secondary-color	:	#D6C183;
$head-font			:	'DM Serif Display', serif;
$primary-font		:	'Poppins', sans-serif;


/**** MISC. ****/
body {font-family: $primary-font; font-weight: 300; counter-reset: section;}
a:hover, a:focus {text-decoration: none;}
.navbar-dark .navbar-toggler {border: none;
	svg {color: $accent; transition: all 1s;}
}
.navbar-toggler:focus, .navbar-toggler:hover {outline: none;
	svg {color: #fff; transition: all 1s;}
}
.navbar-toggler.collapsed {
	svg {color: $accent; transition: all 1s;}
}
.container-fluid {padding: 0;}
.card {border: none; border-radius: 0;}
.explore-btn {background-color: $accent; color: #fff; text-transform: uppercase; border-radius: 0; font-size: 0.9rem; padding: 0.375rem; margin: 0 0.5rem; transition: all 500ms;
	svg {background-color: #fff; color: $accent; width: 2rem; height: 2rem; padding: 0.25rem; margin-left: 0.5rem; transition: all 500ms;}
}
.explore-btn:hover {background-color: $theme-color; color: #fff;
	svg {background-color: $accent; color: #fff;}
}
.explore-btn:focus {box-shadow: none; background-color: $theme-color; color: #fff;
	svg {background-color: #fff; color: $theme-color;}
}
.section-header {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 2rem;
	.section-title-md {font-size: 2.5rem; color: $theme-color; font-family: $head-font; margin-bottom: 0;
		span {color: $accent;}
	}
	.section-title-sm {font-size: 1.8rem; color: $theme-color; font-family: $head-font; margin-bottom: 0;
		span {color: $accent;}
	}
}
.section-body {display: flex; flex-wrap: wrap; justify-content: space-between;}
.section-m-p {margin: 2rem 0; padding: 2rem 5rem;}
.no_gutter {padding: 0;}

/**** NAVIGATION BAR ****/
.navbar {background-color: $theme-color; padding: 0rem 0rem 0 9.85rem;
	.navbar-brand img {width: 14rem;}
	.navbar-nav {align-items: center;
		.nav-item {margin: 0.5rem; position: relative;
			.nav-link {color: #fff; font-weight: 200;}
			.dropdown-toggle::after {display: initial; position: absolute; bottom: 0; left: 39%;}
			.dropdown-menu {background-color: $theme-color; padding: 0;
				.dropdown-item {color: #fff; padding: 0.375rem 0.5rem; transition: all 500ms; font-size: 0.9rem;}
				.dropdown-item:hover, .dropdown-item:focus {background-color: $theme-color; color: $accent;}
			}
		}
		.nav-item.active {
			.nav-link {color: $accent; display: flex; justify-content: center;}
			.nav-link:after {content: " "; height: 3px; width: 1rem; background-color: $accent; position: absolute; bottom: 0; border-radius: 1rem; margin: auto;}
		}
	}
	.navbar-right {background-color: $secondary-color; padding: 0.5rem 5rem; width: 40%; display: inline-flex; justify-content: flex-end;
		.nav-item {margin: 0.5rem 0;
			.nav-link {margin: 0;
				img {width: 2rem;}
			}
		}
	}
}

/**** MAIN FRAME ****/
.main-frame {height: 88vh; width: 100%; display: flex; flex-wrap: nowrap; justify-content: flex-start; position: relative;
	.sub-sec-left {width: 91%; background-color: $theme-color; background-image: url(../img/bg-img.jpg); background-size: 100%; background-repeat: no-repeat; background-blend-mode: multiply;}
	.sub-sec-right {width: 40%; background-color: $secondary-color;}
	.main-frame-overlay {position: absolute; top: 3rem; left: 5rem; right: 5rem; bottom: 0;
		.uniq-grid {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
		.section-header {margin-bottom: 0;
			.section-title-md {color: #fff; width: 70%;}
			.section-text {color: #fff; margin: 1rem 0;}
			.explore-btn {margin: 0.5rem 0;}
		}
		.card {position: relative;
			.img-overlay {position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;
				a {background-color: $theme-color;	padding: 1rem 1rem; border-radius: 5rem; transition: all 500ms;
					svg {color: $accent; width: 2.5rem; height: 2.5rem; padding: 0.25rem; border: 2px solid $accent; border-radius: 5rem; background-color: $theme-color; transition: all 500ms;}
				}
				a:hover, a:focus {background-color: $accent;
					svg {color: $theme-color; border-color: $theme-color; background-color: $accent;}
				}
				p {margin-top: 0.5rem; background-color: #fff; color: $theme-color; text-transform: uppercase; padding: 0.25rem 0.75rem; border-radius: 5rem; font-weight: 600; font-size: 0.8rem;}
			}
		}
		.scroll-down {text-align: center; position: absolute; bottom: 0rem; right: 0; left: 0; display: flex; justify-content: center; align-items: center;
			svg {width: 1.5rem; height: 1.5rem; color: #fff; margin-bottom: 0.5rem;}
			p {color: #fff; text-transform: uppercase; font-size: 0.8rem; letter-spacing: 1px;}
		}
	}
}

/**** AWARD WINNING WORK ****/
.a-w-work {padding-bottom: 6rem;
	.work-review {position: relative;
		.card-img {display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start;
			.img-fluid {width: 48%;}
		}
		.card-img-overlay {position: absolute; bottom: -4rem; right: 0; width: 70%; padding: 0; top: inherit; left: inherit; box-shadow: 1px 1px 15px -5px #aaa;
			.card {transition: all 500ms; margin: 0; backface-visibility: hidden; overflow: hidden;
				.card-body {
					.card-text {border-left: 2px solid #ddd; padding-left: 1rem;}
				}
				.card-footer {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; background: transparent; border-top: 0;
					.user-profile {display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
						.user-img {width: 2rem; margin-right: 0.5rem;
							img {border-radius: 5rem;}
						}
						.user-details {
							h6 {margin: 0; color: $accent; font-size: 0.8rem;}
							p {margin: 0; font-size: 10px;}
						}
					}
					.star-rating {display: flex; flex-wrap: wrap;
						svg {width: 1rem; height: 1rem; color: $accent; margin: 0 0.15rem;}
					}
				}
			}
		}
	}
	.uniq-grid {display: flex; flex-wrap: wrap; justify-content: flex-end; align-items: center; margin-bottom: 0rem;}
	.section-header {margin-bottom: 0; width: 95%;
		.section-text {margin: 1.5rem 0;}
		.explore-btn {margin: 0.5rem 0;}
	}
}

/**** CORE VALUES ****/
.core-values {background-color: #F9F9F9; padding: 5rem;
	.section-header {justify-content: center; margin-bottom: 4rem;}
	.section-body {margin-top: 4rem;}
	.e-uniq {margin-top: 4rem;}
	.card {background-color: #fff; text-align: center; box-shadow: 1px 1px 10px -5px #999; padding: 2.5rem; position: relative;
		.card-img {border: 1px solid $accent; padding: 0.65rem 0.25rem; width: 3rem; margin: 0.5rem auto; border-radius: 5rem;
			svg {width: 1.5rem; color: $accent;}
		}
		.card-body {padding: 0;
			.card-title {font-size: 1rem; width: 10rem; margin: 0.5rem auto; color: $theme-color;}
			.card-text {font-size: 0.9rem;}
			.explore-a {font-size: 0.8rem; border-bottom: 1px solid $accent;}
		}
	}
	.card:after {
		counter-increment: section; content: "0" counter(section) ". "; position: absolute; top: 0.5rem; left: 1rem; color: #EAEBEE; font-size: 2.5rem; font-weight: 500;
	}
}

/**** HOME MASTERPIECE ****/
.work-masterpiece {background-color: #fff;
	.section-header {margin: 0;
		.section-title-md {width: 70%; margin-bottom: 1rem;}
		p {margin: 0;}
	}
	.carousel-inner {width: 100%; margin-left: auto;
		.carousel-item {display: flex; justify-content: space-between; align-items: flex-end; overflow: hidden;}	
		.card {flex: 0 0 28.33%; max-width: 28.33%; backface-visibility: hidden; margin: 1rem; overflow: hidden; background-color: #fff; text-align: right; background: transparent; border-top-left-radius: 0.15rem; border-top-right-radius: 0.15rem;
			.card-img {position: relative; border: none; border-radius: 0;
				.img-overlay {position:absolute; top: 0; bottom: 0; left: 0; right: 0; display: flex; justify-content: center; align-items: center;
					a {display: flex; flex-wrap: nowrap; justify-content: center; color: $theme-color; background-color: $accent; width: 100%; border-radius: 0;
						svg {width: 1.5rem; height: 1.5rem; margin-left: 0.5rem; border-radius: 1px;}
					}
				}
			}
			.card-body {padding: 0.8rem; position: absolute; bottom: 0; background: rgba(8, 23, 74, 0.87); left: 0; right: 0; transition: all 500ms;
				.card-title {color: #fff; font-size: 0.9rem; font-weight: 300; text-align: left; margin: 0; transition: all 800ms;}
				.card-text {font-size: 0.7rem;}
			}
		}
		.card:hover {
			.card-body {background-color: $accent;
				.card-title {color: #fff;}
			}
		}
		.carousel-item .card:first-child {flex: 0 0 34.33%; max-width: 34.33%;
			.card-body {padding: 1.1rem;
				.card-title {font-size: 1.1rem; line-height: 0.8;}
				.card-text {font-size: 0.8rem; margin-top: 5px;}
			}
		}
	}
	.uniq-grid {display: flex; align-items: center;}
	.slider-ctrl {position: absolute; top: 0.7rem; right: 0; z-index: 10;
		a {background-color: $accent; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms;
			svg {color: #fff; width: 1.5rem; height: 1.5rem; transition: all 500ms;}
		}
		a:hover, a:focus {background-color: $theme-color;
			svg {color: $accent;}
		}
	}
	  /* medium - display 2  */
	  @media (min-width: 768px) {
		.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {transform: translateX(50%);}
		.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {transform: translateX(-50%);}
	}

	/* large - display 3 */
	@media (min-width: 992px) {
		.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {transform: translateX(33%);}
		.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {transform: translateX(-33%);}
	}

	@media (max-width: 768px) {
		.carousel-inner .carousel-item>div {display: block;}
		.carousel-inner .carousel-item>div:first-child {display: block;}
		.carousel-control-next, .carousel-control-prev {top: 42%; bottom: 42%; width: 2.5rem;}
	}
	@media (max-width: 551px) {
		.carousel-inner .carousel-item>div {display: none;}
		.carousel-inner .carousel-item>div:first-child {display: block;}
	}

	.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {display: flex;}
	.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {transform: translateX(0);}
}

/**** UTILITIES ****/
.utilities {background-color: #f9f9f9;
	ul {list-style: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
		li {display: inline-flex; width: 28%; align-items: center; margin: 1rem;
			img {width: 2rem; margin-right: 0.5rem;}
			span {font-size: 1rem; font-weight: 500;}
		}
	}
	.section-header {justify-content: flex-end; text-align: right; margin: 0;
		.section-title-md {text-align: right; margin-bottom: 1rem;}
	}
	.uniq-grid {display: flex; align-items: center;}
}

/**** FLOOR PLAN ****/
.floor-plan {	
	.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {display: flex; justify-content: space-between;}
	.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {transform: translateX(0);}
	.slider-footer {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 0.5rem 0;
		a {margin: 0 auto; letter-spacing: 1px; font-weight: 400; color: $theme-color;}
		.slider-ctrl {text-align: right; margin: 0.5rem 0;
			a {background-color: $accent; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms;
				svg {color: #fff; width: 1.5rem; height: 1.5rem; transition: all 500ms;}
			}
			a:hover {background-color: $theme-color;
				svg {color: #fff;}
			}
			a:focus {box-shadow: none; background-color: $theme-color;
				svg {color: #fff;}
			}
			a:active {box-shadow: none; background-color: $theme-color; transition: all 1s;}
		}
	}
	.uniq-grid {display: flex; align-items: center;}
	.section-header {
		.section-title-md {width: 40%; margin-bottom: 1rem;}
		ul {list-style: none; padding: 0; display: inline-flex;
			li {width: 8rem; overflow: auto; border-radius: 5rem; margin: 0.5rem; height: auto; display: flex; flex-direction: column;
				p {margin: 0; height: 4rem; font-weight: 500; display: flex; align-items: center; justify-content: center;}
				p:first-child {background-color: $theme-color; color: $accent; font-size: 1.2rem;}
				p:last-child {background-color: $accent; color: $theme-color; font-size: 0.8rem;}
			}
			li:last-child {
				p:first-child {font-size: 0.8rem;}
			}
		}
	}
}

/**** TESTIMONIALS ****/
.testimonials {background-color: #F9F9F9;
	.section-header {
		div {display: inline-flex;}
		div>span {height: 3rem; font-size: 6rem; line-height: 1; font-family: $head-font;color: $accent; background-color: $theme-color; padding: 0 0.25rem;}
		.section-title-md {margin-left: 0.5rem;}
		.slider-nav-btn { margin: 0 0.5rem;
			a {background-color: $accent; padding: 0.25rem 0.5rem; border-radius: 0; transition: all 500ms; margin-right: 0.25rem;
				svg {color: #fff; width: 1.5rem; height: 1.5rem; transition: all 500ms;}
			}
			a:hover {background-color: $theme-color;
				svg {color: $accent;}
			}
			a:focus {box-shadow: none; background-color: $theme-color;
				svg {color: $accent;}
			}
			a:active {box-shadow: none; background-color: $theme-color; transition: all 1s;}
		}
	}
	.carousel-inner {
		.card {transition: all 500ms; flex: 0 0 31.80%;	max-width: 31.80%; margin: 0.8rem; backface-visibility: hidden; overflow: hidden;
			.card-body {
				.card-text {border-left: 2px solid #ddd; padding-left: 1rem;}
			}
			.card-footer {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; background: transparent; border-top: 0;
				.user-profile {display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
					.user-img {width: 2rem; margin-right: 0.5rem;
						img {border-radius: 5rem;}
					}
					.user-details {
						h6 {margin: 0; color: $accent; font-size: 0.8rem;}
						p {margin: 0; font-size: 10px;}
					}
				}
				.star-rating {display: flex; flex-wrap: wrap;
					svg {width: 1rem; height: 1rem; color: $accent; margin: 0 0.15rem;}
				}
			}
		}
	}


	/* medium - display 2  */
	@media (min-width: 768px) {
		.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {transform: translateX(34%);}
		.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {transform: translateX(-34%);}
	}

	/* large - display 3 */
	@media (min-width: 992px) {
		.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {transform: translateX(34%);}
		.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {transform: translateX(-34%);}
	}

	@media (max-width: 768px) {
		.carousel-inner .carousel-item>div {display: block;}
		.carousel-inner .carousel-item>div:first-child {display: block;}
		.carousel-control-next, .carousel-control-prev {top: 42%; bottom: 42%; width: 2.5rem;}
	}
	@media (max-width: 551px) {
		.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {transform: translateX(100%);}
		.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {transform: translateX(-100%);}
		.carousel-inner .carousel-item>div {display: none;}
		.carousel-inner .carousel-item>div:first-child {display: block;}
	}
	.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {display: flex; justify-content: space-between;}
	.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {transform: translateX(0);}
}

/**** CONTACT SECTION ****/
.contact-section {
	.section-header {justify-content: center;}
	.map-loc {padding: 0.5rem; margin-top: 0.5rem;
		.card-img-top {border-radius: 0;}
	}
	form {
		.form-group { margin: 0.8rem 0;
			label {margin: 0; font-weight: 500;}
			input, textarea {border-radius: 0; border-color: $theme-color;}
			.form-control:focus {box-shadow: 0 0 0 0.2rem rgba(8, 23, 74, 0.45);}
		}
		.btn {width: 10rem; margin: 1rem 0 0 0; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; font-size: 1rem;}
	}
	.contact-details {padding: 0.5rem 0;
		ul {list-style: none; padding: 0;
			li { margin: 1.3rem 0; display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
				.contact-icons { padding: 0.5rem; border: 1px solid $accent; border-radius: 5rem;
					svg {width: 1.5rem; height: 1.5rem; color: $accent;}
				}
				p {margin: 0 1rem; font-size: 0.8rem;}
			}
		}
	}
}

/**** FOOTER *****/
footer {margin: 0; padding: 3rem 5rem 1rem; background-color: $theme-color;
	.footer-sec-title {font-family: $head-font; text-transform: capitalize; color: $accent; font-size: 1.2rem; margin: 1rem 0;}
	ul {padding: 0; list-style: none;
		li {margin: 0.5rem 0;
			a {color: #fff; font-size: 0.9rem;}
			a:hover, a:focus {color: $accent;}
		}
	}
	label {color: #fff;}
	.form-control {border: 2px solid #444444; border-radius: 0; background-color: transparent; transition: all 500ms;}
	.footer-ftr {margin: 2rem 0 1rem; padding: 1.5rem 0 0.5rem; border-top: 1px solid #444; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
		.social-links {width: 7rem; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center;
			a {color: transparent;
				img {width: 1.2rem; height: 1.2rem;}
			}
		}
		p {color: #fff; font-size: 0.8rem;}
	}
	.form-control:focus {background: transparent; box-shadow: none; border-color: $accent; color: #fff; font-weight: 300;}
	form {position: relative;}
	svg {position: absolute; right: 1rem; bottom: 0.65rem; color: $accent; width: 1.2rem; height: 1.2rem;}
}



/**** MEDIA QUERIES ****/

@media only screen and (max-width: 767px) {
	.section-m-p {margin: 0; padding: 2rem 1rem;}
	.section-header {margin-bottom: 0;}
	.section-header .section-title-md {font-size: 2rem;}
	.navbar {padding: 0rem;}
	.navbar-dark .navbar-brand {margin-left: 1rem;}
	.navbar .navbar-right {width: 100%; justify-content: space-evenly; flex-direction: row;}

	.main-frame {height: auto; position: initial;}
	.main-frame .sub-sec-left {background-repeat: repeat; width: 100%;}
	.main-frame .sub-sec-right {display: none;}
	.main-frame .main-frame-overlay {position: initial; padding: 2rem 1rem;}
	.main-frame .main-frame-overlay .section-header {margin-bottom: 1.5rem;	width: 100%;}
	.main-frame .main-frame-overlay .section-header .section-title-md {width: 100%;}
	.main-frame .main-frame-overlay .scroll-down {display: none;}

	.a-w-work .work-review .card-img-overlay {bottom: -7rem; width: 93%;}
	.a-w-work .uniq-grid {margin-top: 9rem;}
	.a-w-work .section-header {width: 100%;}

	.core-values {padding: 1rem;}
	.core-values .section-header {margin-top: 2rem; margin-bottom: 2rem;}
	.core-values .section-body {margin-top: 2rem;}
	.core-values .card {margin: 1rem 0.5rem;}
	.core-values .e-uniq {margin-top: 0;}

	.work-masterpiece .carousel-inner .carousel-item .card {flex: 0 0 100%; max-width: 100%; width: 100%; margin: 1rem 0;}
	.work-masterpiece .carousel-inner .carousel-item .card:first-child {flex: 0 0 100%; max-width: 100%; width: 100%; margin: 1rem 0;}
	.work-masterpiece .carousel-inner .carousel-item .card .img-fluid {width: 100%;}
	.work-masterpiece .slider-ctrl {top: 1rem;}

	.utilities .section-header {justify-content: center; text-align: center;}
	.utilities ul li {width: 40%;}

	.floor-plan .section-header .section-title-md {width: 45%;}
	.floor-plan .section-header ul {flex-wrap: wrap;}
	.floor-plan .section-header ul li {width: 4.7rem; margin: 0.3rem;}
	.floor-plan .section-header ul li:last-child p:first-child {font-size: 0.8rem; line-height: 1; padding: 0.85rem;}
	.floor-plan .section-header ul li p {height: 2.5rem;}

	.testimonials .section-header div > span {height: 2.5rem;font-size: 4rem;}
	.testimonials .section-header .slider-nav-btn {margin: 1rem 0;}
	.testimonials .carousel-inner .card {flex: 0 0 100%; max-width: 100%; margin: 0.8rem 0;}

	footer {margin: 0; padding: 1rem;}
	footer ul li {margin: 0.5rem 1rem 0.5rem 0; float: left;}
	.footer-ftr p {margin-top: 0.5rem;}
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
	.navbar {padding: 0rem;}
	.navbar-dark .navbar-brand {margin-left: 1rem;}
	.navbar .navbar-right {width: 100%; justify-content: space-evenly; flex-direction: row;}
	.section-m-p {padding: 2rem 1rem;}

	.main-frame {height: 94vh;}
	.main-frame .sub-sec-left {background-repeat: repeat; width: 100%;}
	.main-frame .sub-sec-right {display: none;}
	.main-frame .main-frame-overlay .section-header {margin-bottom: 1.5rem;	width: 65%;}
	.main-frame .main-frame-overlay .section-header .section-title-md {width: 100%;}
	.main-frame .main-frame-overlay .scroll-down {bottom: 2rem;}

	.a-w-work .work-review {width: 95%; margin: auto;}
	.a-w-work .work-review .card-img-overlay {bottom: -2.5rem;}
	.a-w-work .work-review .card-img-overlay .card {padding: 1rem;}
	.a-w-work .uniq-grid {margin-top: 4rem;}
	.a-w-work .section-header {margin: auto;}

	.core-values {padding: 2rem 1rem;}
	.floor-plan .section-header .section-title-md {width: 100%;}
	.floor-plan .section-header ul {flex-wrap: wrap;}
	.floor-plan .section-header ul li {width: 4.7rem; margin: 0.4rem;}
	.floor-plan .section-header ul li:last-child p:first-child {font-size: 0.8rem; line-height: 1; padding: 0.85rem;}
	.floor-plan .section-header ul li p {height: 2.5rem;}
	.testimonials .carousel-inner .card {flex: 0 0 30.52%; max-width: 30.52%; margin: 0 0.8rem 0.8rem;}
	.testimonials .carousel-inner .card .card-footer .star-rating {margin: 0.5rem 0;}
	footer {margin: 0; padding: 1rem;}
}

@media only screen and (min-width: 1021px) and (max-width: 1260px) {
	.navbar {padding: 0rem 0rem 0 1rem;}
	.navbar .navbar-nav .nav-item {margin: 0.5rem 0;}
	.section-header .section-title-md { font-size: 2rem; }
	.section-m-p { margin: 2rem 0; padding: 2rem 2rem; }

	.main-frame .sub-sec-left {width: 93.7%;}
	.main-frame .sub-sec-left {background-repeat: repeat;}
	.main-frame .main-frame-overlay {position: absolute; top: 4rem; left: 7rem; right: 10rem; bottom: 0;}
	.main-frame .main-frame-overlay .section-header {margin-bottom: 1.5rem;	width: 65%;}
	.main-frame .main-frame-overlay .section-header .section-title-md {width: 100%;}
	.main-frame .main-frame-overlay .scroll-down {margin-top: 2rem; bottom: 2rem;}

	.a-w-work .work-review .card-img-overlay {bottom: -5rem;}

	.floor-plan .section-header ul { flex-wrap: wrap; justify-content: space-around; }
	.floor-plan .section-header ul li { width: 5rem; }
	.floor-plan .section-header ul li p { height: 2.5rem; }
	.floor-plan .section-header ul li:last-child p:first-child { font-size: 0.6rem; }
	.work-masterpiece .slider-ctrl { top: 0.5rem; right: 0rem; }
	.testimonials .carousel-inner .card {flex: 0 0 31%;	max-width: 31%;	margin: 0.9rem;}
	.testimonials .carousel-inner .card .card-footer .star-rating {margin: 0.5rem 0;}
}